In [6]:
import pandas as pd
import numpy as np
import datetime

read_df = pd.read_csv('./TSLA.csv')
price_df = read_df.loc[:,['Date', 'Adj Close']].copy()
price_df['STD_YM'] = price_df['Date'].map(lambda x : datetime.datetime.strptime(x,'%Y-%m-%d').strftime('%Y-%m'))
price_df.head()

         Date   Adj Close   STD_YM
0  2022-11-28  182.919998  2022-11
1  2022-11-29  180.830002  2022-11
2  2022-11-30  194.699997  2022-11
3  2022-12-01  194.699997  2022-12
4  2022-12-02  194.860001  2022-12